* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 100%;
	margin-bottom: 100px  ;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
footer {
	height: 200px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: relative;
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.banner-area {
	width: 100%;
	height: 500px;
  padding-top: 100px;
  position:fixed;
	background-image: url(../image/foodimg.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 4%;
	font-size: 50px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.banner-area h3 {
	font-size: 25px;
	font-family: poppins;
	/* text-transform: uppercase; */
	color: #fff;
}
.banner-area button {
  margin-top: 10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.content-area {
	width: 100%;
	position: relative;
	top: 500px;
  bottom: 500px;
	background: #ebebeb;
	height: 1200px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
  padding-bottom: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
.content-area li {
	display:inline;
  font-family: poppins;
	letter-spacing: 4px;
	padding-top: 20px;
	font-size: 20px;
	margin: 0;
  margin-left: 20px;
}
.services{
  background: #f1f1f1;
  text-align: center;
}
.services h1{
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #3498db;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.cen{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service{
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover{
  background: #ddd;
}
.service i{
  color: #3498db;
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p{
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .service{
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service{
    width: 100%;
  }
}
.footer-box {
  text-align: left;
  padding: 20px;
}
.footer-box h3 {
  text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.footer-box h5 {
  text-decoration: none;
	font-family: poppins;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 0 10px;
	color: #fff;
}
